.ktk-gd {
    border: 2px solid #e6e6e6;
}

.kt-1 {
    border: 2px solid #e6e6e6;
    background-color: #2a16db;
    margin-right: 10px;
    width: auto;
}

.tgl {
    font-weight: bold;
    align-items: center;
}