.Baratas{
    position: relative;
    /* right:-100vh; */
}
.Kota{
    position: relative;
    margin-top: 5vh;
    width: 20vh;
}
.Hewan{
    position: relative;
    margin-top: -9.5vh;
    /* right: -22vh; */
    width: 30vh;
}
.Cari{
    position: relative;
    margin-top: -1.5vh;
    /* right: 15vw; */
    width: 20vh;

}
.RS{
    position: relative;
    /* right: -3vh; */
    /* width: 40vh; */
    max-height: 200px;
}
.Button{
    color: black;
    background-color: #fbe859;
}
.Cari{
    /* border: 5px solid black; */
    width: 20%;
    height: 100%;
    padding-top: 1%;
    position: relative;
    left: 9.3%;
    top: 52px;
}
.Row{
    /* border: 5px solid black; */
    padding-left: 5%;
    padding-right: 2%;
    height: 40vh;
    width: 100%;
}
.Buttoncard{
    position: absolute;
    bottom: 0%;
    border: 0px;
}
.Gambarcard{
    width: 100%;
    height: 30vh;
    margin-bottom: 10%;
}

.Card{
    position: relative;
    height: 90%;
    width: 100%;
}
.Tombol{
        width: 150px;
        position: relative;
        bottom: 2.3vh;
        border: 0rem;
        right: 1%;
}
